body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

body{
    background-color: #000;
}


.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}


.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input, .input-group select, .input-group textarea {
    width: 99%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group textarea {
    resize: vertical;
}

.input-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: forestgreen;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-group button:hover {
    background-color: forestgreen;
}

.input-group input[type="checkbox"] {
    margin-right: 5px;
        
}

button{
    padding: 8px 15px;
    background-color: forestgreen;
    color: #fff;
    border-radius: 8px;
}

button:hover{
    background-color: chocolate;
}